html, body, img {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
    display: flex;
}

center {
    margin:auto;
}

#logo{
    animation-name: rotateLogo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#ded {
    position: absolute;
    bottom: -30px;
    right: 0px;
}

audio {
   display: none;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
